body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(#348e91, #1c5052);
    background-repeat: no-repeat;
    height: 100vh;
}
header {
    color:#f2f2f2;
    background: #325a58;
    width: 100%;
}
.area-perfil{
    margin: 0 auto;
    display: flex;
    max-width: 600px;
    padding: 20px;
    border: none;
    border-radius: 10px;
}
.area-perfil img{
    border-radius: 50%;
    height: 200px;
}
.area-perfil a{
    text-decoration: none;
    color: #f2f2f2;
}
.area-perfil a:hover {
    color: #f2f2a5;
    transition: 0.5s;
    text-decoration: dashed;
}
.area-perfil ul{
    padding-top: 15px;
}
.area-perfil li{
    list-style-type: none;
    margin: 10px;
}

.div-nav-index{
    margin: 0 auto;
    border: 1px solid red;
    max-width: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nav-index{
}
.nav-index ul{
    height: 100%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.nav-index a{
    text-decoration: none;
    margin: 15px;
    color: #f2f2f2;
}
.nav-index li{
    display: inline;
    margin: 10px auto;
}